<div>
<h2>New Reimbursement Request</h2>
  <form id="main">
	<div class="form-group">
      <label for="date">Date:</label>
      <input type="date" class="form-control" id="date" placeholder="Event Date">
    </div>
    <div class="form-group">
      <label for="time">Time:</label>
      <input type="time" class="form-control" id="time" placeholder="Event Time">
    </div>
    <div class="form-group">
      <label for="des">Description:</label>
      <input type="description" class="form-control" id="des" placeholder="Event Description">
    </div>
    <div class="form-group">
      <label for="reas">Reason for attending:</label>
      <input type="text" class="form-control" id="res" placeholder="Reason">
    </div>
	<div class="form-group">
      <label for="loc">Location:</label>
      <input type="location" class="form-control" id="loc" placeholder="Event Location">
    </div>
	<div class="form-group">
      <label for="cost">Cost:</label>
      <input type="cost" class="form-control" id="cost" placeholder="Event Cost">
    </div>
    <div class="form-group">
      <label for="timemissed">Work time to be missed:</label>
      <input type="text" class="form-control" id="timemissed" placeholder="Time Missed">
    </div>
    <h6>Grade Format</h6>
    <select class="selectpicker" id="GradeFormat">
      <option>Graded</option>
      <option>Pass/Fail</option>
      <option>Completion</option>
      <option>Participation</option>
    </select>
    <h6>Event Format</h6>
    <select class="selectpicker" id="EventFormat">
      <option>University Course</option>
      <option>Seminar</option>
      <option>Certification Preparation Class</option>
      <option>Certification</option>
      <option>Technical Training</option>
      <option>Other</option>
    </select>

  <button (click)="sendRequest()" class="btn btn-default">Submit</button>
  </form>
</div>