<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>


<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.controllers.LoginServlet</servlet-class>
 </servlet>
  
  <servlet>
    <servlet-name>NewFormServlet</servlet-name>
    <servlet-class>com.revature.controllers.NewFormServlet</servlet-class>
 </servlet>
 
 <servlet>
    <servlet-name>YourServlet</servlet-name>
    <servlet-class>com.revature.controllers.YourServlet</servlet-class>
 </servlet>
 
  <servlet>
    <servlet-name>ManServlet</servlet-name>
    <servlet-class>com.revature.controllers.ManServlet</servlet-class>
 </servlet>
 
 <servlet>
    <servlet-name>AcceptDenyServlet</servlet-name>
    <servlet-class>com.revature.controllers.AcceptDenyServlet</servlet-class>
 </servlet>
 
<servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>NewFormServlet</servlet-name>
    <url-pattern>/NewFormServlet</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>YourServlet</servlet-name>
    <url-pattern>/YourServlet</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>ManServlet</servlet-name>
    <url-pattern>/ManServlet</url-pattern>
</servlet-mapping>

<servlet-mapping>
    <servlet-name>AcceptDenyServlet</servlet-name>
    <url-pattern>/AcceptDenyServlet</url-pattern>
</servlet-mapping>
</web-app>